@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    height: 100%;
  }

  body {
    margin: 0;
    min-height: 100%;
    font-family: "Rubik", "Arial", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    background-color: #ffffff;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .main-container {
    flex-grow: 1;
  }

  .container {
    margin: 0 auto;
    width: 1160px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .page-header-logo {
    margin-top: 20px;
  }


  /*Хедер*/

  .page-header {
    min-height: 175px;
    position: relative;
    color: #000000;
    background-color: #ffffff;
    width: 1160px;
    margin: 0;
    padding: 0 60px;
  }

  .navigation-site {
    display: flex;
    justify-content: space-between;
  }

  .navigation-user {
    display: flex;
    justify-content: space-between;
  }

  .search-imput {

  }

  .navigation-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  .navigation-user-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }


  /*Слайдер*/

  .slider-button {
    width: 48px;
    height: 60px;
    color: #ffffff;
    background-color: #000000;
    border: none;
    cursor: pointer;
    background-image: url("../images/arrow_r.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  .slider-button:hover {
    background-color: #814b18;
  }

  .slider-button:focus {
    outline: 2px solid #dbb590;
    background-color: #4e2e0e;
  }

  .slider-prev {
    transform: rotate(180deg);
  }

  .slider-pagination-item {
    margin: 0 4px;
  }

  .slider-pagination-button {
    width: 8px;
    height: 8px;
    margin: 0;
    padding: 0;
    background-color: #dbdbdb;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }

  .slider-pagination-button:hover {
    background-color: #af7842;
  }

  .slider-pagination-button:focus {
    background-color: #dbb590;
    outline: none;
  }

  .slider-pagination-button-current {
    background-color: #242424;
  }

  .slider-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;

  }

  .slider-controls {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    transform: translateY(-50%);
  }

  /*Список каталога*/
 .catalog-item {
    display: flex;
    justify-content: space-between;
  }

  .catalog-list {
    display: flex;
  }
  /*Доставка*/

  /*Контакты*/

  .info {
    display: flex;
    justify-content: space-between;
  }

  .about-us {
    width: 520px;
  }

  .info-contact {
    width: 530px;
  }

  /*Подписка*/
  .subscription {
    background-color: rgba(240, 240, 240, 1);
  }

  .subscription-title {
    width: 350px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    padding-top: 64px;
  }

  .subscription-container {
    width: 1160px;
    margin: 0 auto;
  }

  /*Футер*/
