@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    height: 100%;
  }

  body {
    margin: 0;
    min-height: 100%;
    min-width: 1440px;
    font-family: "Rubik", "Arial", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    background-color: #ffffff;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .main-container {
    flex-grow: 1;
  }

  .container {
    margin: 0 auto;
    width: 1160px;
    min-height: 100vh;
    position: relative;
  }

  .button {
    padding: 9px 41px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    background-color: transparent;
    background-image: -o-linear-gradient(top, transparent 16px, #FFE17F 16px, #FFE17F 24px, transparent 24px);
    background-image: linear-gradient(to bottom, transparent 16px, #FFE17F 16px, #FFE17F 24px, transparent 24px);
    background-repeat: no-repeat;
    background-position: 0 0;
    border: none;
    cursor: pointer;
  }


  /*Хедер*/

  .page-header {
    width: 1160px;
    min-height: 190px;
    color: #000000;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 0 60px;
  }

  .header-line {
    width: 1160px;
    height: 150px;
    margin: 0 auto;
    background-color: #FFE17F;
    margin-top: 40px;
    position: absolute;
    z-index: 1;
  }

 /* .page-header::before {
    content: "";
    background-color: #FFC700;
    width: 1160px;
    min-height: 166px;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
  }*/

  .page-header-logo {
    margin-top: 20px;
  }

  .header-container {
    width: 1040px;
    z-index: 2;
    position: absolute;
  }

  .navigation-site {
    width: 1040px;
    min-height: 40px;
    display: flex;
  }

  .page-header-logo {
    margin-bottom: 30px;
  }

  .header-form {
    display: flex;
  }

  .navigation-list-enter {
    margin: 0;
    list-style: none;
    padding-top: 5px;
    margin-left: 26px;
    padding: 0;
  }

  .navigation-list {
    width: 240px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    list-style: none;
    position: relative;
  }

  .search-imput {
    width: 360px;
    height: 40px;
    border: 2px solid #000000;
    border-radius: 50px 0 0 50px;
    background-color: #FFE17F;
    background-image: url(../images/search.svg);
    background-repeat: no-repeat;
    background-position: 16px;
  }

  .search-imput::placeholder {
    color: rgba(0, 0, 0, 0.3);
    padding-left: 48px;
  }

  .header-search-button {
    width: 160px;
    height: 40px;
    border: 2px solid #000000;
    border-radius: 0 50px 50px 0;
    padding: 0;
    background-color: #FFE17F;
  }

  .navigation-user {
    width: 1040px;
    margin: 0 auto;
    display: flex;
    margin-top: 30px;
  }

  .navigation-catalog {
    position: relative;
  }

  .navigation-button {
    width: 293px;
    height: 50px;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    align-items: center;
    border: none;
    background-color: #FFE17F;
    position: absolute;
    background-image: url(../images/plus.svg);
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: right;
    display: flex;
    justify-content: space-between;
    z-index: 3;
  }

  .catalog-index {
    width: 1160px;
    height: 180px;
    margin: 0 auto;
    background-color: #FFE17F;
  }

  /*.navigation-button:hover + .catalog-index {
    display: block;
  }*/

  .navigation-button:focus + .catalog-index {
    display: block;
  }

  .navigation-user-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-left:  auto;
    width: 471px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #000000;
  }

  .navigation-user-link {
    text-decoration: none;
  }

  .navigation-link {
    text-decoration: none;
    color: #000000;
  }

  .text-link {
    padding-left: 12px;
  }

  .number-favorites {
    position: absolute;
    bottom: 14px;
    left: 120px;
    width: 21px;
    height: 21px;
    font-family: 'Raleway';
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 5px;
  }

  .catalog-index {
    display: none;
  }

  /*Слайдер*/

  .gallery {
    margin: 0 auto;
    width: 1160px;
    min-height: 580px;
    background-color: #ffffff;
    position: relative;
    z-index: 1;
  }

  .gallery-line {
    background-color: #FFE17F;
    width: 1160px;
    height: 150px;
    margin: 0 auto;
    z-index: -1;
    position: absolute;
  }

  .gallery-numbers {
    position: absolute;
    width: 250px;
    height: 135px;
    left: 900px;
    top: 30px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 180px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #ffffff;
    z-index: 2;
  }

  .gallery-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    margin: 0;
    margin-bottom: 29px;
  }

  .gallery-text {
    margin: 0;
    margin-bottom: 50px;
  }

  .gallery-content {
    width: 560px;
    position: absolute;
    z-index: 3;
    margin-top: 121px;
    margin-left: auto;
  }

  .gallery-button {
    margin-bottom: 50px;
  }

  .feature {
    width: 307px;
    min-height: 72px;
    display: flex;
    justify-content: space-between;
  }

  .feature h3 {
    font-size: 36px;
    line-height: 30px;
    margin: 0;
  }

  .feature p {
    font-size: 16px;
    line-height: 30px;
    margin: 0;
  }

  .feature-radius {
    margin-left: 20px;
  }

  .slider-button {
    width: 48px;
    height: 60px;
    color: #ffffff;
    background-color: #000000;
    border: none;
    cursor: pointer;
    background-image: url("../images/arrow_r.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  .slider-button:hover {
    background-color: #814b18;
  }

  .slider-button:focus {
    outline: 2px solid #dbb590;
    background-color: #4e2e0e;
  }

  .slider-prev {
    transform: rotate(180deg);
  }

  .slider-pagination-item {
    margin: 0 4px;
  }

  .slider-pagination-button {
    width: 8px;
    height: 8px;
    margin: 0;
    padding: 0;
    background-color: #dbdbdb;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }

  .slider-pagination-button:hover {
    background-color: #af7842;
  }

  .slider-pagination-button:focus {
    background-color: #dbb590;
    outline: none;
  }

  .slider-pagination-button-current {
    background-color: #242424;
  }

  .slider-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;

  }

  .slider-controls {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    transform: translateY(-50%);
  }

  /*Список каталога*/

  .catalog {
    width: 1160px;
    margin: 0 auto;
  }

 .catalog-item {
    display: flex;
    justify-content: space-between;
  }

  .catalog-list {
    display: flex;
    width: 160px;
  }

  .catalog-img:nth-child(1n) {
      background-image: url(../images/virt_reality.svg);
      background-repeat: no-repeat;

  }

  .catalog-img:nth-child(2n) {
    background-image: url(../images/basket.svg);
  }

  .catalog-img {
    width: 160px;
    height: 160px;
    background-color: #FFE17F;
  }

  .text::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 3px;
    width: 16px;
    height: 16px;
    background-image: url("../images/search.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  /*Доставка*/

  .delivery {
    min-height: 391px;
    background-color: #F0F0F0;
    color: #000000;
    margin-bottom: 70px;
  }

  .delivery-container {
    margin: 0 auto;
    width: 1160px;
    position: relative;
    display: flex;
  }

  .black-line-ver {
    position: absolute;
    width: 7px;
    height: 319px;
    left: 280px;
    top: 0;
    background-color: #000000;
  }

  .delivery-item-link {
    list-style: none;
  }

  .delivery-list-link {
    width: 694px;
    padding-top: 73px;
    display: flex;
    justify-content: space-between;
  }

  .delivery-item {
    list-style: none;
  }

  .delivery-warranty {
    display: none;
  }

  .delivery-credit {
    display: none;
  }

  .delivery-ref {
    width: 280px;
  }

  /*Кнопка "Под заказ"*/
  .button-on-order {
    margin: 0 auto;
    width: 1160px;
  }

  .on-order {
    width: 1160px;
    min-height: 100px;
    background-color: #F0F0F0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    border: none;
    background-image: url(../images/car.svg), url(../images/info.svg);
    background-repeat: no-repeat, no-repeat;
  }

  /*Контакты*/

  .info {
    background-color: #ffffff;
    color: #444444;
    margin-top: 70px;
  }

  .info h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    margin: 0;
    margin-bottom: 48px;
  }

  .info h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
  }

  .info-container {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .black-line {
    width: 84px;
    height: 7px;
    background-color: #000000;
    margin-bottom: 40px;
  }

  .about-us {
    width: 520px;
  }

  .info-contact {
    width: 530px;
  }

  .info-item {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    padding-top: 19px;
  }

  .info li {
    color: #FFC700;
  }

  .info span {
    color: #000000;
  }

  .info-phone {
    color: #444444;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }

  .info-link-contact {
    width: 260px;
  }

  /*Подписка*/
  .subscription {
    background-color: rgba(240, 240, 240, 1);
  }

  .subscription-title {
    width: 350px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    padding-top: 64px;
    margin: 0;
    padding: 0;
  }

  .subscription-container {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .subscription-blok {
    width: 560px;
    padding-top: 64px;
  }

  .subscription-form {
    padding-top: 144px;
    padding-bottom: 56px;
    display: flex;
  }

  .subscription-input {
    width: 557px;
    height: 55px;
    background: transparent;
    border: none;
    border-bottom: 3px solid rgba(196, 196, 196, 1);
  }

  .subscription-input::placeholder {
    padding-left: 16px;
    padding-top: 11px;
  }

  .subscription-button {
    width: 253px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    border: 3px solid rgba(196, 196, 196, 1);
    padding: 0;
  }

  .subscription-sub {
    width: 160px;
    padding-top: 144px;
    padding-bottom: 56px;
    display: flex;
    margin: 0;
    display: flex;
    align-items: center;
  }

  .subscription-link {
    margin-right: 16px;
  }

  .subscription-free {
    margin: 0;
  }

  /*Футер*/

  .page-footer {
    background-color: #444444;
    min-height: 320px;
    color: #ffffff;
    padding-top: 62px;
  }

  .footer-container {
    width: 1160px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 340px 444px 340px;
    grid-gap: 18px;
  }

  .footer-logotip {
    grid-column: 1/-1;
    grid-row: 1;
    padding-bottom: 18px;
  }

  .footer-logo-link {
    width: 145px;
    height: 36px;
    margin: 0;
    padding: 0;
  }

  .adress {
    grid-column: 1;
    grid-row: 2;
  }

  .footer-contact-adress {
    font-family: 'Rubik';
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
  }

  .hyperlink {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    justify-content: space-between;
  }

  .footer-contact-tel {
    grid-column: 3;
    grid-row: 2;
    display: flex;
    justify-content: flex-end;
  }

  .footer-contact-phone {
    font-family: 'Rubik';
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: #ffffff;
  }

  .footer-social {
    margin: 0 auto;
    grid-column: 2;
    grid-row: 3;
    width: 150px;
    margin-top: 24px;
    margin-bottom: 60px;
   }

  .footer-social-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  .footer-social-item {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .link-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
  }

  .logo-htmlacademy {
    grid-column: 3;
    grid-row: 3;
    margin-top: 24px;
  }

  .page-footer-logo {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
  }

  .line-yellow {
    width: 80px;
    height: 7px;
    background-color: #FFC700;
    grid-column: 1;
    grid-row: 3;
    margin-top: 24px;
  }
